<!doctype html>
<html>
  <head>
    <link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery.js"></script>
  </head>

  <title>ClassClown</title>
  <body>
  </body>
</html>
