<html>
<head>
  <title>EverFi School Surge</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/quizzy.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://js.pusherapp.com/1.10/pusher.min.js"></script>
  <script type="text/javascript" src="/javascripts/quizzy.js"></script>
</head>
<body>
  <div id="container">
		<div id="question">
		</div>
		
		<div id="chart">
		</div>
		
		<div id="timer">
		</div>
  </div>
</body>
</html>